{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["eslint-config-babel"],
  "plugins": ["prettier"],
  "rules": {
    "arrow-parens": "off",
    "quotes": "off",
    "prettier/prettier": ["error", { "trailingComma": "all" }]
  }
}
